 
<div class="col-md-8 col-md-offset-2">
<%= form_for(@profile,:class=>"form-horizontal") do |f| %>
<fieldset>
	<legend>Profile Creation<br><br> </legend>
	 
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
   <label class="col-md-6 control-label" for="selectbasic">Category</label>
  <div class="col-md-6">
     <select name="profile[category_id]" onchange="categoryfn(this.value);" class="form-control">
			<% @category.each do |c| %>
			<option value="<%= c.id %>" ><%= c.name %></value>
			<%end%>
	</select> 
  </div>
  </div>
   
    <%=f.hidden_field :name %>
  
  <div id="product_slection" class="form-group" style="margin-top: 60px">
    
  </div>
  <div id="section_slection" class="form-group" style="margin-top: 60px">
    
  </div>
 
  <div class="form-group" style="margin-top: 60px">
  <div class="col-md-2 col-md-offset-5" >
    <%= f.submit "submit", :class =>"btn btn-success" %>
  </div>
</div>

  </fieldset>
<% end %>
</div>
<script>
	function categoryfn(cat){
		$.ajax({url:'<% url_for new_profile_path %>',
		data:{"cat_id": cat},
		dataType:'script'
		})
	}
</script> 
