<div class="col-md-12">
	<%if @pro_id %>
	<%@questions.each do |que|%>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 id="panel-title" class="panel-title"> <%= que.section_id%>  </h3>
		</div>
		<div class="panel-body">
			<ul class="list-group">
				<li class="list-group-item">
					<%= que.question%>
					<input type="hidden" value="<%= que.id %>" />
					<%if que.question_type == "Textbox" %>
					<input type="text" />
					<% elsif que.question_type == "Dropdown" %>
					<% dpv = que.question_value.split(',')%>
					<%= select_tag :question_value, options_for_select(dpv) %>
					<% elsif que.question_type == "Radiobutton" %>
					<% dpv = que.question_value.split(',')%>
					<%dpv.each do |rv|%>
					<input type="radio" id="rb"  value=""/><%= rv %>
					 <%end%>
					 <% elsif que.question_type == "Checkbox" %>
					<% dpv = que.question_value.split(',')%>
					<%dpv.each do |rv|%>
					<input type="checkbox" id="rb"  value=""/><%= rv %>
					 <%end%>
					<%end%>
				</li>
			</ul>
		</div>
	</div>
	<%end%>
	<%end%>
</div>
