<div class="col-md-12">
	<%if @pro_id %>
	<%@sections.each do |sec|%>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 id="panel-title" class="panel-title"> <%= sec.name %> </h3>
		</div>
		<div class="panel-body">
			<% @questions_arr = sec.questions.all%>
			<%if @questions_arr %>
			<ul class="list-group">
				<%@questions_arr.each do |que|%>
				<li class="list-group-item">
					<%= que.question %>
					<input type="hidden" value="<%= que.id %>" />
					<%if que.question_type == "textbox" %>
					<input type="text" />
					<% elsif que.question_type == "dropdown" %>
					<% dpv = que.answere.split(',')%>
					<%= select_tag :answere, options_for_select(dpv) %>
					<% elsif que.question_type == "radiobutton" %>
					<% dpv = que.answere.split(',')%>
					<%= select_tag :answere, options_for_select(dpv) %>
					<%end%>
				</li>
				<%end%>
			</ul>
			<%end%>
		</div>
	</div>
	<%end%>
	<%end%>
</div>
