<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @profile.category_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @profile.product_id %>
</p>

<p>
  <strong>Section:</strong>
  <%= @profile.section_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @profile.question_id %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
