<%= form_for(@section) do |f| %>
  <% if @section.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h2>

      <ul>
      <% @section.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <div class="field">
    <select name="product">    	
    	
		 <% @products.each do |p| %>
		 <%if @selected_id%>
		 <%@selected_id.each do |sec_cat|%>
		<%if sec_cat == p.id%>
		<option value="<%= p.id %>" selected="selected"><%= p.name %></value>
			<%else%>
			 <option value="<%= p.id %>"><%= p.name %></value>
			<%end%>
			<%end%>
			<%else%>
			 <option value="<%= p.id %>"><%= p.name %></value>
			<%end%>
			<%end%>	 
   </select>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
