<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Sections</h5>
              <!--   <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                   
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div> -->
                <span><%= link_to 'New Section', new_section_path, :class=>"btn btn-primary pull-right"%></span>
            </div>
             <div class="ibox-content">
             <div class="table-responsive tableoverflow">

<%= paginate @sections %>             
<table class="table table-striped tablewidth">
             <!-- <table class="table table-hover margin bottom"> -->
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="16"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><%= section.name %></td>
        <td><%= section.description %></td>
          <td></td>
        <td></td>
        <td></td>
        <td></td>
         <td></td>
          <td></td>
           <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <td><%= link_to '', section , :class=>"fa fa-eye"%>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '', edit_section_path(section) , :class=>"fa fa-pencil-square-o"%>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '', section, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"fa fa-trash-o" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>




            </div>
        </div>
    </div>
</div>




