
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Categories</h5>
               <!--  <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-wrench"></i>
                    </a>
                   
                    <a class="close-link">
                        <i class="fa fa-times"></i>
                    </a>
                </div> -->
                <span><%= link_to 'New Category', new_category_path ,:class=>"btn btn-primary pull-right"%></span>
            </div>
             <div class="ibox-content">
             
<div class="table-responsive tableoverflow">
<table class="table table-striped tablewidth">


  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="16"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= category.description %></td>
        
        <td></td>
        <td></td>
        <td></td>
        <td></td>
         <td></td>
          <td></td>
           <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        <td><%= link_to '', category, :class=>"fa fa-eye" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '', edit_category_path(category), :class=>"fa fa-pencil-square-o" %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to '', category, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"fa fa-trash-o" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div><br>



                        </div>
        </div>
    </div>
</div>


