<%= form_for(@product) do |f| %>
<% if @product.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

	<ul>
		<% @product.errors.full_messages.each do |message| %>
		<li>
			<%= message %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="field">
	<select name="category">
		
		<% @category.each do |c| %>
		<%if @selected_id%>
		<%@selected_id.each do |sec_cat|%>
		<%if sec_cat == c.id%>
		<option value="<%= c.id %>" selected="selected"><%= c.name %></value>
			<%else%>
			 <option value="<%= c.id %>" ><%= c.name %> </value>
			<%end%>
			<%end%>
			<%else%>
			<option value="<%= c.id %>" ><%= c.name %> </value>
			<%end%>
			
			<%end%>
	</select>
</div>
<div class="field">
	<%= f.label :name %>
	<br>
	<%= f.text_field :name %>
</div>
<div class="field">
	<%= f.label :description %>
	<br>
	<%= f.text_field :description %>
</div>
<div class="actions">
	<%= f.submit %>
</div>
<% end %>
